In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("cc_num_segments_final.csv")

In [6]:
df

,cc_num,avg_amt,Not fraud,fraud,tot_amt,cc_freq,max_amt,min_amt,freq_of_fraud,cc_num_segment,seg_fraud_freq,seg_fraud_coun
0,60416207185,58.660253,475,0,27863.62,475,1404.30,1.02,0.000000,mid_risk,low_risk,low_risk
1,60422928733,54.832361,466,0,25551.88,466,305.33,1.05,0.000000,mid_risk,low_risk,low_risk
2,60423098130,58.028902,164,0,9516.74,164,497.97,1.17,0.000000,mid_risk,low_risk,low_risk
3,60427851591,94.973442,154,0,14625.91,154,592.90,29.15,0.000000,mid_risk,low_risk,low_risk
4,60487002085,109.179480,165,8,18888.05,173,2758.46,1.02,4.624277,mid_risk,low_risk,mid_risk
...,...,...,...,...,...,...,...,...,...,...,...,...
917,4958589671582720000,74.963763,482,7,36657.28,489,1060.90,1.00,1.431493,high_risk,low_risk,mid_risk
918,4973530368125479936,62.370339,295,0,18399.25,295,1060.58,1.03,0.000000,high_risk,low_risk,low_risk
919,4980323467523539968,59.382324,142,0,8432.29,142,709.24,1.01,0.000000,high_risk,low_risk,low_risk
920,4989847570577630208,102.107262,310,15,33184.86,325,887.80,1.07,4.615385,high_risk,low_risk,high_risk
921,4992346398065149952,59.828291,632,0,37811.48,632,964.05,1.04,0.000000,high_risk,low_risk,low_risk

In [7]:
df['seg_fraud_coun'].value_counts()

seg_fraud_coun
low_risk     764
mid_risk     126
high_risk     32
Name: count, dtype: int64

In [8]:
df['seg_fraud_freq'].value_counts()

seg_fraud_freq
low_risk     908
high_risk     14
Name: count, dtype: int64

In [10]:
df.groupby(['cc_num_segment'])['fraud'].sum()

cc_num_segment
high_risk      97
low_risk       60
mid_risk     1619
Name: fraud, dtype: int64

In [11]:
df.groupby(['cc_num_segment'])['Not fraud'].sum()

cc_num_segment
high_risk     16840
low_risk      18771
mid_risk     351616
Name: Not fraud, dtype: int64

In [2]:
df = pd.read_csv("cc_num_segmentation.csv")

In [7]:
df[['cc_num','fraud','fraud_amt']].head(10)

         cc_num  fraud  fraud_amt
0   60416207185      0        0.0
1   60422928733      0        0.0
2   60423098130      0        0.0
3   60427851591      0        0.0
4   60487002085      8     5610.8
5   60490596305      0        0.0
6   60495593109     12     6824.7
7  501802953619      0        0.0
8  501828204849      0        0.0
9  501831082224      0        0.0